@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import "tailwindcss";

@theme {
  --font-dancing: "Dancing Script", cursive;
}
body{
    background-color: black;
}
::view-transition-new(root) {
    z-index: 2;
    animation: none !important;
}

::view-transition-old(root) {
    z-index: 1;
    animation: none !important;
}
nav {
    z-index: 9999;
}